// Colors
$orangeColor: rgb(255, 125, 26);
$paleOrange: hsl(25, 100%, 94%);
$veryvarkblue: hsl(220, 13%, 13%);
$darkGrayishBlue: hsl(219, 9%, 45%);
$grayishBlue: hsl(220, 14%, 75%);
$lineGray: rgb(236, 235, 239);

$lightGrayishBlue: hsl(223, 64%, 98%);
$navLightGray: rgb(155, 156, 160);
$white: hsl(0, 0%, 100%);
$black: hsl(0, 0%, 0%);
// $black (with 75% opacity for lightbox background): hsl(0, 0%, 0%);

// Font-size
$fontSize-1: 1.6rem;

// Font-family
$font-family: "Kumbh Sans", sans-serif;

// Breakpoints

// laptom
$laptop-lg: 1024px;

// Tablet
$tablet-llg: 864px;
$tablet-lg: 769px;

// Cellphone
$cellphone-l:537px;
$cellphone-m: 425px;
$cellphone-s:375px;