.navResponsive {
  position: fixed;
  top: 0;
  z-index: 40;
  width: 100vw;
  height: 100vh;
  backdrop-filter: brightness(0.5);
  display: flex;
  align-items: center;
  justify-content: center;

  &__container {
    position: relative;
  }

  &__close {
    position: absolute;
    width: 3rem;
    right: 0;
    top: -4rem;
  }

  &__item {
    color: #fff;
    font-size: 6rem;
    text-transform: capitalize;
    margin-bottom: 1.5rem;
    position: relative;

    &::after {
      transition: all 0.5s ease;
      content: "";
      position: absolute;
      width: 0%;
      height: 0.5rem;
      background-color: $orangeColor;
      left: 0;
      bottom: -0.8rem;
    }

    &:hover::after {
      width: 100%;
    }
  }
}