.product {
  display: flex;
  align-items: center;
  justify-content: center;

  &__container {
    display: flex;
    width: 110rem;
  }

  &__cardImg {
    width: 82rem;
  }

  &__showImage {
    cursor:pointer;
    margin-bottom: 2.3rem;

    &-img {
      border-radius: 1.5rem;
      width: 40rem;
    }
  }

  &__description {
    padding: 8rem;

    &-header {
      color: $orangeColor;
      font-size: 1.5rem;
      text-transform: uppercase;
      font-weight: 600;
      letter-spacing: 0.3rem;
      margin-bottom: 2rem;
    }

    &-title {
      color: $black;
      font-size: 4rem;
      text-transform: capitalize;
      font-weight: 600;
      margin-bottom: 2.5rem;
    }

    &-description {
      color: $navLightGray;
      font-size: 1.8rem;
      margin-bottom: 2.5rem;
    }

    &-firstLetter {
      text-transform: capitalize;
    }

    &-price {
      font-size: 3rem;
      font-weight: 700;
    }

    &-value {
      margin-bottom: 1.5rem;
    }

    &-discount {
      font-size: 1.5rem;
      text-decoration: line-through;
      color: $navLightGray;
      margin-bottom: 2.5rem;
    }

    &-percent {
      font-size: 2rem;
      color: $orangeColor;
      font-weight: 700;
      padding: 0.1rem 1rem;
      background-color: lighten($orangeColor, 38);
      margin-left: 1.5rem;
      border-radius: 0.5rem;
    }
  }

  &__pay {
    display: flex;
    height: 5.5rem;

    &-add {
      display: flex;
      justify-content: space-around;
      align-items: center;
      background-color: $lightGrayishBlue;
      width: 29rem;
      margin-right: 1.5rem;
    }

    &-item {
      display: inline-block;
      font-size: 1.9rem;
      font-weight: 800;
      padding: 1rem;
      user-select: none;

      &:nth-child(odd) {
        cursor: pointer;
        color: $orangeColor;
      }
    }

    &-button {
      align-items: center;
      background-color: $orangeColor;
      border-radius: 0.5rem;
      border: none;
      color: $white;
      cursor: pointer;
      display: flex;
      font-size: 1.3rem;
      font-weight: 600;
      justify-content: center;
      width: 100%;
      position: relative;

      &::after {
        position: absolute;
        content: "";
        width: 100%;
        height: 100%;
        box-shadow: lighten(rgb(255, 125, 26), 20) 0px 14px 41px;
      }

      &:hover {
        filter: opacity(60%);
      }
    }

    &-icon {
      margin-right: 1.5rem;
      width: 1.8rem;
      fill: #ffffff;
    }
  }

  &__thumbnailContainer {
    border-radius: 1rem;
    outline: 0.3rem solid $orangeColor;

    &-hover {

      &:hover img {
        filter: opacity(60%);
      }
    }


  }

  &__imgContainer {
    display: flex;
    justify-content: space-between;
  }

  &__thumbnailImg {
    width: 8rem;
    border-radius: 1rem;

    &-selected {

      filter: opacity(30%);
    }

    &:hover {
      cursor: pointer;
    }
  }
}